.menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu-title {
    cursor: pointer;
    font-weight: bold;
}

.menu-items {
    display: none;
}

.menu-items.active {
    display: block;
}

.button {
    display: inline-block;
    padding: 10px;
    background-color: black;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
}

.button:hover {
    background-color: #202020;
    cursor: pointer;
}
