@use "base" as *;
.login-page {
    margin: 16px;
    display: flex;
    flex-direction: column;
    display: flex;
    padding: 48px 32px 32px 32px;
    align-items: center;
    gap: 64px;
    flex-shrink: 0;

    max-height: 100vh; // TODO: make sure this is calculated once we know the height of the menu
    border-radius: 24px;
    background-color: $blue;
    color: $white;
    .text-top {
        display: flex;
        gap: 32px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 47.78px;
        font-style: normal;
        font-weight: 700;
        line-height: 52.558px;
        letter-spacing: -0.5px;
        width: fit-content;
        align-self: center;

        .text {
            padding: 0px 16px;
        }
        .line {
            height: 1px;
            width: 100%;
            border-radius: 1px;
            background-color: rgb(255, 255, 255, 0.5);
        }
    }
    .form {
        width: 100%;
    }
    form {
        display: flex;
        flex-direction: column;
        gap: 32px;
        width: 100%;
        .inputs {
            display: flex;
            flex-direction: column;
            gap: $gap-sm;
        }

        .input {
            display: flex;
            flex-direction: column;
            gap: 4px;
        }
        input {
            display: flex;
            padding: 10px 16px;
            align-items: center;
            gap: var(--base-units-unit-1, 8px);
            align-self: stretch;
            border-radius: var(--button-corner-radius-buttons, 128px);
            border: 1px solid var(--layout-stroke-white, #fff);
            background-color: $blue;
            color: var(--text-dark-black-50, #828282);
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 19.6px; /* 140% */
        }
        button {
            display: flex;
            padding: 12px 24px;
            justify-content: center;
            align-items: center;
            gap: 8px;
            align-self: stretch;
            border-radius: var(--button-corner-radius-buttons, 128px);
            background: var(--button-fill-white, #fff);
            border: none;
            color: var(--button-text-blue, #001a52);
            text-align: center;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 16px;
            cursor: pointer;
        }
        label {
            color: var(--text-light-white-100, #fff);
            /* body */
            font-family: Inter;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 22.4px; /* 140% */
        }
    }
    .bottom-text {
        margin-top: 8px;
        display: flex;
        flex-direction: column;
        gap: 8px;
        text-align: center;
        .sub-text {
            color: #bdbdbd;
            text-align: center;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 22.4px;
        }
        .register {
            color: var(--text-light-white-100, #fff);
            text-align: center;
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: 22.4px;
            a {
                text-decoration: none;
                color: $white;
            }
        }
    }
}

.students-page {
    margin: 0 auto;
    max-width: 348px;
    display: flex;
    flex-direction: column;
    gap: $gap-md;
    padding: $padding-sm;
    .search-section {
        display: flex;
        flex-direction: column;
        gap: 32px;
        .text {
            .title {
                color: $black;
                text-align: center;
                font-feature-settings: "clig" off, "liga" off;
                font-family: Inter;
                font-size: 24px;
                font-style: normal;
                font-weight: 700;
                line-height: 26.4px;
                letter-spacing: 0.18px;
            }
            .subtitle {
                color: $black;
                text-align: center;
                font-feature-settings: "clig" off, "liga" off;
                font-family: Inter;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px;
                letter-spacing: 0.15px;
            }
        }
        .search {
            position: relative;
            .dark-background {
                display: none;
                &.active {
                    display: block;
                    width: 100vw;
                    height: 100vh;
                    background-color: $black;
                    position: fixed;
                    top: 0;
                    right: 0;
                    z-index: 0;
                }
            }
            .search-bar {
                display: flex;
                justify-content: space-between;
                gap: 8px;
                .selected-technologies-container {
                    padding: 0px 8px;
                    gap: 8px;
                    display: flex;
                    flex-grow: 1;
                    border-radius: 48px;
                    background: $white;
                    box-shadow: 0px 0px 8px 0px rgba(32, 32, 32, 0.25);
                    align-items: center;
                    overflow: scroll;
                    .search-data {
                        display: flex;
                        padding: var(--base-units-unit-1, 8px) 16px;
                        justify-content: center;
                        align-items: center;
                        gap: var(--base-units-unit-1, 8px);
                        border-radius: 20px;
                        background: var(--button-fill-red, #f52a3b);
                        color: white;
                        height: fit-content;
                        cursor: pointer;
                        .search-data-text {
                            text-wrap: nowrap;
                        }
                    }
                    .search-data-unavailable {
                        padding: 8px 16px;
                    }
                }

                .category-button {
                    z-index: 7;
                    display: flex;
                    padding: 8px;
                    align-items: flex-start;
                    gap: 16px;
                    border-radius: 48px;
                    background: #fff;
                    box-shadow: 0px 0px 8px 0px rgba(32, 32, 32, 0.25);
                    cursor: pointer;
                }
            }
            .custom-select {
                display: none;
                position: absolute;
                box-shadow: 0px 0px 8px 0px rgba(32, 32, 32, 0.25);
                top: 58px;
                border-radius: 20px;
                overflow: hidden;
                padding: $padding-md;
                background: $white;
                &.active {
                    display: flex;
                }
                .select-items {
                    display: flex;
                    flex-wrap: wrap;
                    padding: 5px;
                    .select-item {
                        border-radius: 20px;
                        background: #000;
                        margin: 2px;
                        cursor: pointer;
                        padding: 8px 16px;
                        justify-content: center;
                        align-items: center;
                        gap: var(--base-units-unit-1, 8px);
                        color: $white;
                        &.selected {
                            background-color: $red;
                        }
                    }
                }
            }
        }
    }
    .cards-section {
        display: flex;
        flex-direction: column;
        gap: $gap-sm;
        .student-card {
            display: flex;
            gap: $gap-sm;
            .info-section {
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-grow: 1;
                gap: $gap-sm;
                .info {
                    display: flex;
                    flex-direction: column;
                    gap: $gap-xs;
                    .name {
                        color: $light-grey;
                        font-feature-settings: "clig" off, "liga" off;
                        font-family: Inter;
                        font-size: 23.042px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 25.3px; /* 109.801% */
                        letter-spacing: 1.25px;
                    }
                    .title {
                        color: $black;
                        font-family: Inter;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 22.4px; /* 140% */
                        letter-spacing: -0.5px;
                    }
                }
                .save {
                    align-self: flex-start;
                    cursor: pointer;
                }
            }
            .image {
                min-width: 40%;
                max-width: 40%;
                img {
                    height: 128px;
                    width: 100%;
                    object-fit: cover;
                    border-radius: 20px;
                }
            }
        }
    }
}
.liked-page {
    margin: 0 auto;
    max-width: 348px;
    display: flex;
    flex-direction: column;
    gap: $gap-md;
    padding: $padding-sm;
    .page-header {
        display: flex;
        flex-direction: column;
        gap: $gap-xs;
        .page-title-liked {
            color: $black;
            font-feature-settings: "clig" off, "liga" off;
            font-family: Inter;
            font-size: 24px;
            font-style: normal;
            font-weight: 700;
            line-height: 26.4px; /* 110% */
            letter-spacing: 0.18px;
        }

        .page-subtitle-liked {
            color: $black;
            font-feature-settings: "clig" off, "liga" off;
            /* sub1 */
            font-family: Inter;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px; /* 150% */
            letter-spacing: 0.15px;
        }
    }

    .cards-section {
        display: flex;
        flex-direction: column;
        gap: $gap-md;
        .card {
            display: flex;
            gap: $gap-sm;
            .info-section {
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-grow: 1;
                gap: $gap-sm;
                .info {
                    display: flex;
                    flex-direction: column;
                    gap: $gap-xs;
                    .name {
                        color: $light-grey;
                        font-feature-settings: "clig" off, "liga" off;
                        font-family: Inter;
                        font-size: 23.042px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 25.3px; /* 109.801% */
                        letter-spacing: 1.25px;
                    }
                    .title {
                        color: $black;
                        font-family: Inter;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 22.4px; /* 140% */
                        letter-spacing: -0.5px;
                    }
                }
                .save {
                    align-self: flex-start;
                }
            }
            .image {
                min-width: 40%;
                max-width: 40%;
                img {
                    height: 128px;
                    width: 100%;
                    object-fit: cover;
                    border-radius: 20px;
                }
            }
        }
    }
}

.profile-page {
    %common-styles {
        ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
            display: flex;
            flex-direction: column;
            gap: 10px;

            li {
                display: flex;
                gap: 10px;
                align-items: end;

                .contact-icon {
                    width: 24px;
                    height: 24px;
                    display: flex;

                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
    }

    .company-profile,
    .student-profile {
        .profile-img {
            border-radius: 20px;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 20px;
            }
        }

        .profile-info {
            display: flex;
            flex-direction: column;
            gap: 10px;

            h1,
            p,
            a {
                margin: 0;
            }
        }

        @extend %common-styles;
    }

    .company-profile {
        .profile-info {
            h1,
            p,
            a {
                margin: 0;
                text-align: center;
            }
        }
        .profile-img {
            height: 200px;
        }
    }

    .student-profile {
        .profile-header {
            display: flex;
            gap: 10px;
            align-items: end;

            .profile-img {
                width: 150px;
                height: 150px;
            }
        }
    }
}
