@use "base" as *;

.main {
    position: relative;
    .error-div {
        position: absolute;
        top: 0;
        background: $red;
        border-radius: 20px;
        padding: 12px;
        text-align: center;
        color: $white;
        margin: 0px 24px 0px 24px;
        width: -webkit-fill-available;
        z-index: 7;
        .error-close {
            position: absolute;
            top: 10px;
            right: 10px;
            padding: 12px;
            color: $white;
            cursor: pointer;
            border-radius: 50%;
            border: 1px solid $white;
            height: 10px;
            width: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}
.menu {
    position: relative;
    z-index: 100;
    display: flex;
    flex-direction: column;
    background-color: $white;
    padding: 64px 24px 16px 24px;
    border-radius: 0px 0px 24px 24px;

    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .button-menu {
            display: flex;
            gap: $gap-sm;
            .hamburger {
                width: 40px;
                height: 40px;
                transform: rotate(0deg);
                transition: transform 0.5s ease-in-out;
                cursor: pointer;
                span {
                    display: block;
                    position: absolute;
                    height: 2.5px;
                    width: 80%;
                    background: #202020;
                    border-radius: 9px;
                    opacity: 1;
                    right: 5px;
                    transform: rotate(0deg);
                    transition: 0.25s ease-in-out;

                    &:nth-child(1) {
                        top: 9px;
                    }

                    &:nth-child(2),
                    &:nth-child(3) {
                        top: 19px;
                    }

                    &:nth-child(4) {
                        top: 29px;
                    }
                }

                &.open {
                    span {
                        &:nth-child(1) {
                            top: 18px;
                            width: 0%;
                            right: 50%;
                        }

                        &:nth-child(2) {
                            transform: rotate(45deg);
                        }

                        &:nth-child(3) {
                            transform: rotate(-45deg);
                        }

                        &:nth-child(4) {
                            top: 18px;
                            width: 0%;
                            right: 50%;
                        }
                    }
                }
            }
        }
    }

    .menu-content {
        position: fixed;
        z-index: 100;
        display: flex;
        flex-direction: column;
        gap: 64px;
        margin-top: 105px;
        padding: 64px;
        background-color: #fff;
        top: 0;
        width: 100vw;
        height: 100vh;
        right: -100vw; // Hidden off-screen
        transition: right 0.3s ease-in-out;

        &.open {
            right: 0; // Slide in when the 'open' class is added
        }

        ul {
            display: flex;
            flex-direction: column;
            gap: 48px;
            padding: 0;
            margin: 0;

            li {
                list-style-type: none;
                a {
                    color: var(--text-dark-black-100, #202020);
                    text-decoration: none;
                    font-size: 27.648px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 30.415px; /* 110.008% */
                    letter-spacing: -0.5px;
                }
            }
        }

        .button-group {
            display: flex;
            flex-direction: column;
            gap: $gap-sm;
            width: 100%;
        }

        .divider {
            height: 1px;
            width: 100%;
            background-color: #001a52;
            opacity: 0.5;
        }
    }
}

//LANDING PAGE
.index-page {
    width: 100vw;

    .slide-wrapper {
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: 100vw;
        overflow-x: auto;
        overscroll-behavior-inline: contain;
        .landing-page {
            margin: 24px;
            padding: 32px;
            border-radius: 24px;
            height: 100vh;
            background-color: $red;
            color: $white;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: $gap-sm;
            .landing-page-content {
                display: flex;
                height: 100%;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;

                .date-countdown {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: $gap-xs;
                    .countdown {
                        display: flex;
                        align-items: center;
                        gap: $gap-xs;
                    }
                }

                // Apply the animation to each element
                #animation {
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    span {
                        text-align: center;
                        line-break: strict;
                    }
                }

                .welcome-text {
                    display: flex;
                    flex-direction: column;
                    gap: $gap-xs;
                }
            }
            .button {
                align-self: end;
                width: auto;
            }
        }
        .event-page {
            margin: 24px;
            display: flex;
            padding: 48px 32px 32px 32px;
            height: 100vh;
            border-radius: 24px;
            background-color: $blue;
            color: $white;
            flex-direction: column;
            align-items: center;
            gap: $gap-md;

            .event-info {
                display: flex;
                flex-direction: column;
                gap: $gap-md;
                .event-title {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: $gap-xs;
                    .divider {
                        height: 1px;
                        width: 230px;
                        background-color: $white;
                        opacity: 0.5;
                        margin-top: 32px;
                    }
                }
                .event-description {
                    display: flex;
                    flex-direction: column;
                    gap: $gap-md;
                    .event-text {
                        display: flex;
                        flex-direction: column;
                        gap: 4px;
                    }
                    .event-text.box {
                        height: 180px;
                        .text-box {
                            display: flex;
                            padding: 16px 24px 16px 16px;
                            flex-direction: column;
                            align-items: flex-start;
                            gap: var(--base-units-unit-1, 8px);
                            flex: 1 0 0;
                            align-self: stretch;
                            border-radius: var(
                                --layout-corner-radius-block,
                                24px
                            );
                            border: 1px solid var(--layout-stroke-white, #fff);
                            margin-top: 4px;
                            max-height: 150px;
                            overflow-y: auto;
                        }
                    }
                }
            }
        }

        .button-primary-red {
            align-self: end;
            width: auto;
        }
        .event-page.auth {
            background-color: $red;
        }
    }

    .snaps-inline {
        scroll-snap-type: inline mandatory;
        scroll-padding-inline: 24px;
    }

    .snaps-inline > * {
        scroll-snap-align: start;
    }

    a {
        width: 130px;
    }

    .slide-controls {
        display: flex;
        gap: 7px;
        justify-content: center;
        margin-bottom: 30px;
        .slide-control {
            width: 32px;
            height: var(--base-units-unit-1, 8px);
            border-radius: 20px;
            background: var(--icon-faded, #bdbdbd);
        }

        .active {
            background: var(--icon-black, #202020);
        }
    }
}

.form-header {
    display: flex;
    flex-direction: column;
    gap: 16px;

    .form-title {
        margin-top: 16px;
        text-align: center;
        font-size: 47.78px;
        font-style: normal;
        font-weight: 700;
        line-height: 52.558px; /* 110% */
        letter-spacing: -0.5px;
    }
    .form-subtitle {
        text-align: center;
        font-size: 27.648px;
        font-style: normal;
        font-weight: 700;
        line-height: 30.415px; /* 110.008% */
        letter-spacing: -0.5px;
    }
}
.numbers {
    color: $black;
    gap: 32px;
    display: flex;
    justify-content: center;
    @for $i from 1 through 4 {
        .number-#{$i} {
            padding: 8px;
            display: flex;
            align-items: center;
            justify-content: center;
            background: $white;
            border-radius: 50%;
            height: 32px;
            width: 32px;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 19.6px; /* 140% */
            &.active {
                background: $red;
                color: $white;
            }
        }
    }
}

.onboarding-page {
    margin: 24px;
    padding: 48px 32px 32px 32px;
    height: calc(100vh - 112px);
    border-radius: 24px;
    background-color: $blue;
    color: $white;
    display: flex;
    flex-direction: column;
    gap: 32px;
    position: relative;
    .completed {
        display: none;
        height: 100%;
        z-index: 99;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        position: fixed;
        top: 0;
        justify-content: center;
        right: 0;
        align-items: center;
        .pop-up {
            border-radius: 24px;
            margin: 48px;
            width: 100%;
            background-color: $white;
            display: flex;
            flex-direction: column;
            gap: 32px;
            padding: 16px;
        }
        .text {
            color: var(--text-dark-black-100, #202020);
            text-align: center;
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: 22.4px; /* 140% */
        }
        .sub-text {
            color: var(--text-dark-black-100, #202020);
            text-align: center;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 19.6px; /* 140% */
        }
        .buttons {
            display: flex;
            justify-content: center;
            gap: 32px;
            .done {
                display: flex;
                width: 100px;
                padding: 12px 24px;
                justify-content: center;
                align-items: center;
                gap: 8px;
                border-radius: var(--button-corner-radius-buttons, 128px);
                background: var(--button-fill-blue, #001a52);
            }
            .back {
                display: flex;
                padding: 12px 24px;
                justify-content: center;
                align-items: center;
                gap: 8px;
                border-radius: 128px;
                border: 1px solid var(--layout-stroke-blue, #001a52);
                color: var(--button-text-blue, #001a52);
                text-align: center;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 16px; /* 114.286% */
            }
        }
        .animation {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .animated-check {
            height: 8em;
            width: 8em;
        }

        .animated-check path {
            fill: none;
            stroke: $blue;
            stroke-width: 2;
            stroke-dasharray: 23;
            stroke-dashoffset: 23;
            animation: draw 0.5s linear forwards;
            stroke-linecap: round;
            stroke-linejoin: round;
        }

        @keyframes draw {
            to {
                stroke-dashoffset: 0;
            }
        }
        &.active {
            display: flex;
        }
    }
    form {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        .first-section {
            display: none;
            flex-direction: column;
            gap: 32px;
            flex-grow: 1;
            justify-content: space-between;
            &.active {
                display: flex;
            }
            .top-section {
                display: flex;
                flex-direction: column;
                gap: 8px;
                flex-grow: 1;
            }
        }
        .second-section {
            display: none;
            flex-direction: column;
            gap: 32px;
            flex-grow: 1;
            justify-content: space-between;
            &.active {
                display: flex;
            }
            .top-section {
                display: flex;
                flex-direction: column;
                gap: 8px;
                flex-grow: 1;
            }
        }
        .used-technology,
        .search-technology {
            display: flex;
            padding: 12px 24px;
            justify-content: center;
            align-items: center;
            gap: 8px;
            border-radius: var(--button-corner-radius-buttons, 128px);
            border: 1px solid var(--layout-stroke-white, #fff);
            &.selected {
                background: $red !important;
                border: none;
            }
        }
        .used-technologies-section,
        .search-technologies-section {
            flex-grow: 1;
            display: flex;
            flex-wrap: wrap;
            padding: 16px 24px 16px 16px;
            gap: 8px;
            border-radius: 24px;
            border: 1px solid $white;
            align-items: flex-start;
            justify-content: flex-start;
            align-content: start;
            max-height: 30vh;
            overflow: scroll;
        }
    }
    .arrows {
        display: flex;
        justify-content: space-between;
    }
}

.menu {
    display: flex;
    justify-content: space-between;
}

.register-page {
    margin: 24px;
    padding: 48px 32px 32px 32px;
    height: calc(100vh - 112px);
    border-radius: 24px;
    background-color: $blue;
    color: $white;

    .form-section {
        display: flex;
        flex-direction: column;
        gap: 32px;
    }

    .bottom-text {
        margin-top: 8px;
        display: flex;
        flex-direction: column;
        gap: 8px;
        text-align: center;
        .sub-text {
            color: #bdbdbd;
            text-align: center;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 22.4px;
        }
        .login {
            color: var(--text-light-white-100, #fff);
            text-align: center;
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: 22.4px;
            a {
                text-decoration: none;
                color: $white;
            }
        }
    }
    .form-content {
        display: flex;
        flex-direction: column;
        gap: 16px;

        .input {
            display: flex;
            flex-direction: column;
            gap: 4px;
        }
        input {
            display: flex;
            padding: 10px 16px;
            align-items: center;
            gap: var(--base-units-unit-1, 8px);
            align-self: stretch;
            border-radius: var(--button-corner-radius-buttons, 128px);
            border: 1px solid var(--layout-stroke-white, #fff);
            background-color: $blue;
            color: var(--text-dark-black-50, #828282);
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 19.6px; /* 140% */
        }
        button {
            margin-top: 16px;
            display: flex;
            padding: 12px 24px;
            justify-content: center;
            align-items: center;
            gap: 8px;
            align-self: stretch;
            border-radius: var(--button-corner-radius-buttons, 128px);
            background: var(--button-fill-white, #fff);
            border: none;
            color: var(--button-text-blue, #001a52);
            text-align: center;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 16px;
            cursor: pointer;
        }
        label {
            color: var(--text-light-white-100, #fff);
            /* body */
            font-family: Inter;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 22.4px; /* 140% */
        }
    }

    .first-section {
        display: flex;
        flex-direction: column;
        gap: 54px;
        .header {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 16px;

            .bottom-header {
                display: flex;
                flex-direction: column;
                gap: 64px;
                .subtitle {
                    color: $white;
                    text-align: center;
                    font-size: 27.648px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 30.415px; /* 110.008% */
                    letter-spacing: -0.5px;
                }
                .sign-up {
                    display: flex;
                    flex-direction: column;
                    gap: 16px;
                    .line {
                        height: 1px;
                        width: 100%;
                        border-radius: 1px;
                        background-color: rgb(255, 255, 255, 0.5);
                    }
                    .title {
                        color: $white;

                        text-align: center;
                        font-size: 57.34px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 63.074px; /* 110% */
                        letter-spacing: -1.72px;
                    }
                }
            }
        }
        .choices {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 16px;
            .option-buttons {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 16px;
                button {
                    width: 100%;
                    background-color: $blue;
                    display: flex;
                    padding: 12px 24px;
                    justify-content: center;
                    align-items: center;
                    gap: 8px;
                    border-radius: 53px;
                    border: 1px solid #fff;
                    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
                    color: $white;
                    text-align: center;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    letter-spacing: -0.5px;
                }
            }
            .text {
                color: #fff;

                text-align: center;
                font-size: 27.648px;
                font-style: normal;
                font-weight: 700;
                line-height: 30.415px;
                letter-spacing: -0.5px;
            }
        }
    }
}

.login-page {
    margin: 24px;
    display: flex;
    flex-direction: column;
    display: flex;
    padding: 48px 32px 32px 32px;
    align-items: center;
    gap: 32px;
    flex-shrink: 0;
    height: calc(100vh - 112px);
    border-radius: 24px;
    background-color: $blue;
    color: $white;
    .text-top {
        display: flex;
        gap: 32px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 47.78px;
        font-style: normal;
        font-weight: 700;
        line-height: 52.558px;
        letter-spacing: -0.5px;
        width: fit-content;
        align-self: center;

        .text {
            padding: 0px 16px;
        }
        .line {
            height: 1px;
            width: 100%;
            border-radius: 1px;
            background-color: rgb(255, 255, 255, 0.5);
        }
    }
    .form {
        width: 100%;
    }
    form {
        display: flex;
        flex-direction: column;
        gap: 32px;
        width: 100%;
        .inputs {
            display: flex;
            flex-direction: column;
            gap: $gap-sm;
        }

        .input {
            display: flex;
            flex-direction: column;
            gap: 4px;
        }
        input {
            display: flex;
            padding: 10px 16px;
            align-items: center;
            gap: var(--base-units-unit-1, 8px);
            align-self: stretch;
            border-radius: var(--button-corner-radius-buttons, 128px);
            border: 1px solid var(--layout-stroke-white, #fff);
            background-color: $blue;
            color: var(--text-dark-black-50, #828282);
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 19.6px; /* 140% */
        }
        button {
            display: flex;
            padding: 12px 24px;
            justify-content: center;
            align-items: center;
            gap: 8px;
            align-self: stretch;
            border-radius: var(--button-corner-radius-buttons, 128px);
            background: var(--button-fill-white, #fff);
            border: none;
            color: var(--button-text-blue, #001a52);
            text-align: center;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 16px;
            cursor: pointer;
        }
        label {
            color: var(--text-light-white-100, #fff);
            /* body */
            font-family: Inter;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 22.4px; /* 140% */
        }
    }
    .bottom-text {
        margin-top: 8px;
        display: flex;
        flex-direction: column;
        gap: 8px;
        text-align: center;
        .sub-text {
            color: #bdbdbd;
            text-align: center;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 22.4px;
        }
        .register {
            color: var(--text-light-white-100, #fff);
            text-align: center;
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: 22.4px;
            a {
                text-decoration: none;
                color: $white;
            }
        }
    }
}

.students-page {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: $gap-md;
    padding: $padding-sm;
    .search-section {
        display: flex;
        flex-direction: column;
        gap: 32px;
        .text {
            .title {
                color: $black;
                text-align: center;
                font-feature-settings: "clig" off, "liga" off;
                font-family: Inter;
                font-size: 24px;
                font-style: normal;
                font-weight: 700;
                line-height: 26.4px;
                letter-spacing: 0.18px;
            }
            .subtitle {
                color: $black;
                text-align: center;
                font-feature-settings: "clig" off, "liga" off;
                font-family: Inter;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px;
                letter-spacing: 0.15px;
            }
        }
        .search {
            position: relative;
            .dark-background {
                display: none;
                &.active {
                    display: block;
                    width: 100vw;
                    height: 100vh;
                    background-color: $black;
                    position: fixed;
                    top: 0;
                    right: 0;
                    z-index: 0;
                }
            }
            .search-bar {
                display: flex;
                justify-content: space-between;
                gap: 8px;
                align-items: center;

                .selected-technologies-container {
                    padding: 4px 8px;
                    gap: 8px;
                    display: flex;
                    flex-grow: 1;
                    border-radius: 48px;
                    background: #ccd1dc;
                    box-shadow: 0px 0px 8px 0px rgba(32, 32, 32, 0.25);
                    align-items: center;
                    overflow: scroll;
                    .search-data {
                        display: flex;
                        padding: var(--base-units-unit-1, 8px) 16px;
                        justify-content: center;
                        align-items: center;
                        gap: 8px;
                        border-radius: 20px;
                        background: var(--button-fill-red, #f52a3b);
                        color: $white;
                        height: fit-content;
                        cursor: pointer;
                        .search-data-text {
                            text-wrap: nowrap;
                        }
                    }
                    .search-data-unavailable {
                        padding: 8px 16px;
                    }
                }

                .category-button {
                    background: #ccd1dc;
                    z-index: 7;
                    display: flex;
                    padding: 8px;
                    align-items: center;
                    justify-content: center;
                    gap: 16px;
                    border-radius: 50%;
                    box-shadow: 0px 0px 8px 0px rgba(32, 32, 32, 0.25);
                    cursor: pointer;
                }
            }
            .custom-select {
                display: none;
                position: absolute;
                background: #ccd1dc;
                box-shadow: 0px 0px 8px 0px rgba(32, 32, 32, 0.25);
                top: 58px;
                border-radius: 20px;
                overflow: hidden;
                height: 300px;
                overflow: scroll;
                padding: $padding-md;

                &.active {
                    display: flex;
                }
                .select-items {
                    display: flex;
                    flex-wrap: wrap;
                    padding: 5px;
                    align-items: flex-start;
                    justify-content: flex-start;
                    align-content: start;

                    .select-item {
                        border-radius: 20px;
                        background: var(--button-fill-blue, #001a52);
                        margin: 2px;
                        cursor: pointer;
                        padding: 8px 16px;
                        justify-content: center;
                        align-items: center;
                        gap: var(--base-units-unit-1, 8px);
                        color: $white;
                        &.selected {
                            background-color: $red;
                        }
                    }
                }
            }
        }
    }
    .cards-section {
        display: flex;
        flex-direction: column;
        gap: $gap-sm;
        .student-card {
            display: flex;
            gap: $gap-sm;
            .info-section {
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-grow: 1;
                gap: $gap-sm;
                a {
                    text-decoration: none;
                }
                .info {
                    display: flex;
                    flex-direction: column;
                    gap: $gap-xs;
                    .name {
                        color: $light-grey;
                        font-feature-settings: "clig" off, "liga" off;
                        font-family: Inter;
                        font-size: 23.042px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 25.3px; /* 109.801% */
                        letter-spacing: 1.25px;
                    }
                    .title {
                        color: $black;
                        font-family: Inter;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 22.4px; /* 140% */
                        letter-spacing: -0.5px;
                    }
                }
                .save {
                    align-self: flex-start;
                    cursor: pointer;
                }
            }
            .image {
                min-width: 40%;
                max-width: 40%;
                img {
                    height: 128px;
                    width: 100%;
                    object-fit: cover;
                    border-radius: 20px;
                }
            }
        }
    }
}
.liked-page {
    display: flex;
    flex-direction: column;
    gap: $gap-md;
    padding: $padding-sm;
    .page-header {
        display: flex;
        flex-direction: column;
        gap: $gap-xs;
        text-align: center;
        .page-title-liked {
            color: $black;
            font-feature-settings: "clig" off, "liga" off;
            font-family: Inter;
            font-size: 24px;
            font-style: normal;
            font-weight: 700;
            line-height: 26.4px; /* 110% */
            letter-spacing: 0.18px;
        }

        .page-subtitle-liked {
            color: $black;
            font-feature-settings: "clig" off, "liga" off;
            /* sub1 */
            font-family: Inter;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px; /* 150% */
            letter-spacing: 0.15px;
        }
    }

    .cards-section {
        display: flex;
        flex-direction: column;
        gap: $gap-md;
        .card {
            display: flex;
            gap: $gap-sm;
            .info-section {
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-grow: 1;
                gap: $gap-sm;
                a {
                    text-decoration: none;
                    cursor: pointer;
                }
                .info {
                    display: flex;
                    flex-direction: column;
                    gap: $gap-xs;
                    .name {
                        color: $light-grey;
                        font-feature-settings: "clig" off, "liga" off;
                        font-family: Inter;
                        font-size: 23.042px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 25.3px; /* 109.801% */
                        letter-spacing: 1.25px;
                    }
                    .title {
                        color: $black;
                        font-family: Inter;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 22.4px; /* 140% */
                        letter-spacing: -0.5px;
                    }
                }
                .save {
                    align-self: flex-start;
                }
            }
            .image {
                min-width: 40%;
                max-width: 40%;
                img {
                    height: 128px;
                    width: 100%;
                    object-fit: cover;
                    border-radius: 20px;
                }
            }
        }
    }
}

//PROFILE PAGE & EDIT PAGE
@mixin common-profile-styles {
    margin: 24px 24px 24px 24px;

    p,
    a {
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 22.4px; /* 140% */
        color: var(--text-dark-black-100, #202020);
        margin: 0;
    }

    a {
        text-decoration-line: underline;
    }

    .profile-header {
        .profile-img {
            img {
                object-fit: cover;
            }
        }
        .profile-info {
            display: flex;
            gap: $gap-xs;

            .info {
                display: flex;
                flex-direction: column;
                gap: 4px;

                .subtitle {
                    color: var(--text-dark-black-100, #202020);
                    font-style: normal;
                    font-weight: 400;
                    line-height: 1.4;
                    margin: 0;
                }

                .subtitle {
                    font-size: 14px;
                }
            }
        }
    }

    .profile-main {
        display: flex;
        flex-direction: column;
        align-items: center;

        .divider {
            height: 1px;
            width: 230px;
            background-color: #001a52;
            opacity: 0.5;
        }

        .main-section {
            display: flex;
            width: 100%;
            flex-direction: column;
            align-items: start;
            gap: $gap-sm;
            margin: $gap-md 0;

            .technologies {
                display: flex;
                gap: $gap-sm;
                align-self: stretch;
                flex-wrap: wrap;

                .technology {
                    background: var(--button-fill-red, #f52a3b);
                    color: var(--button-text-white, #fff);
                    padding: 12px 24px;
                    border-radius: 20px;
                    font-size: 14px;
                    line-height: 16px; /* 114.286% */
                }
            }

            ul {
                list-style-type: none;
                padding: 0;
                margin: 0;
                display: flex;
                flex-direction: column;
                gap: 10px;
                width: 100%;

                li {
                    display: flex;
                    gap: $gap-sm;
                    align-items: center;

                    a {
                        text-decoration: none;
                    }

                    .contact-icon {
                        width: 24px;
                        height: 24px;
                        display: flex;

                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
            }
        }
    }
}

.profile-page,
.edit-page {
    @include common-profile-styles;

    .company-profile {
        position: relative;
        top: -48px;
        .profile-header {
            display: flex;
            flex-direction: column;
            justify-content: center;

            .profile-info {
                justify-content: center;
                flex-direction: column;
                align-items: center;
                margin: 24px 45px 0 45px;
                .info {
                    .title-2,
                    p {
                        text-align: center;
                    }
                }
            }

            .profile-img {
                border-radius: 0 0 20px 20px;
                position: relative;
                width: 100vw;
                left: -24px;

                img {
                    width: 100%;
                    height: 200px;
                    border-radius: 0 0 20px 20px;
                }
            }

            .save {
                position: absolute;
                right: 24px;
                margin-top: 233px;
            }
        }
    }

    .student-profile {
        .profile-header {
            display: flex;
            gap: 16px;
            align-items: center;

            .profile-img {
                min-width: 40%;
                max-width: 40%;

                img {
                    height: 128px;
                    width: 100%;
                    border-radius: 20px;
                }
            }

            .profile-info {
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-direction: column;
                align-items: start;
            }

            .save {
                align-self: flex-start;
                cursor: pointer;
            }
        }
    }
}

// EDIT PAGE
.edit-page {
    form {
        display: flex;
        flex-direction: column;
        gap: $gap-xs;

        textarea.title-2 {
            color: var(--text-dark-black-100, #202020);
            font-style: normal;
            font-weight: 400;
            line-height: 1.4;
            margin: 0;
            font-size: 27.648px;
            font-weight: 700;
            line-height: 30.415px; /* 110.008% */
            letter-spacing: -0.5px;
        }

        .technologies {
            display: flex;
            flex-direction: column;
            border: 1px solid rgb(205, 205, 205);
            border-radius: 8px;
            padding: 8px;

            .more-technologies,
            .more-jobs {
                text-align: center;
                text-decoration: underline;
                cursor: pointer;
            }

            .unselected-technologies,
            .unselected-jobs {
                display: none;
            }

            .selected-technologies,
            .selected-jobs,
            .unselected-technologies.show,
            .unselected-jobs.show {
                display: flex;
                gap: $gap-sm;
                flex-wrap: wrap;
                .technology-checkbox {
                    display: flex;
                    gap: $gap-xs;
                    display: flex;
                    padding: 12px 24px;
                    justify-content: center;
                    align-items: center;
                    border-radius: var(--button-corner-radius-buttons, 128px);
                    background-color: $blue;
                    border: none;
                    cursor: pointer;
                    transition: ease-in-out 0.3s;

                    label {
                        width: auto;
                        font-size: 14px;
                        color: $white;
                        cursor: pointer;
                    }
                    input {
                        display: none;
                    }
                }
                .technology-checkbox.selected {
                    background: $red !important;
                    border: none;
                }
            }
        }
        .technologies.expanded {
            height: 250px;
        }

        textarea,
        input {
            border: 1px solid rgb(205, 205, 205);
            border-radius: 8px;
            padding: 8px;
            width: 100%;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 22.4px; /* 140% */
            color: var(--text-dark-black-100, #202020);
        }

        .button-secondary-transparent {
            text-decoration: none;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 14px;
        }
    }
}
