$margin-xs: 8px;
$margin-sm: 16px;
$margin-md: 32px;

$padding-xs: 8px;
$padding-sm: 16px;
$padding-md: 32px;

$gap-xs: 8px;
$gap-sm: 16px;
$gap-md: 32px;

$radius: 20px;

$desktop-res: 1148px;
$tablet-res: 768px;
$max-width-desktop: 1148px;

$inbetween-res: 600px;

$red: #f52a3b;
$blue: #001a52;
$white: #ffffff;
$black: #000000de;
$light-grey: rgba(0, 0, 0, 0.5);

* {
    font-family: "Inter", sans-serif;
    box-sizing: border-box;
}

body {
    height: 100svh;
    margin: 0;
    padding: 0;
    background: $white;
}

//BUTTONS
.button {
    display: inline-block;
    border: none;
    border-radius: var(--button-corner-radius-buttons, 128px);
    padding: 12px 24px;
    text-decoration: none;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.button-primary-blue {
    background: var(--button-fill-blue, #001a52);
    color: var(--button-text-white, #fff);
    border: 1px solid var(--layout-stroke-blue, #001a52);
    &:hover {
        background-color: $white;
        color: $blue;
        border: 1px solid $blue;
    }
}

.button-primary-red {
    background: var(--button-fill-red, #f52a3b);
    color: var(--button-text-white, #fff);
    border: 1px solid $red;
    &:hover {
        background: unset;
        color: $white;
        border: 1px solid $white;
    }
}

.button-secondary-transparent {
    background-color: $white;
    border: 1px solid var(--layout-stroke-blue, #001a52);
    color: var(--button-text-blue, #001a52);
    &:hover {
        background-color: var(--button-fill-blue, #001a52);
        color: var(--button-text-white, #fff);
    }
}

.button-secondary-fill {
    background: var(--button-fill-white, #fff);
    color: var(--button-text-blue, #001a52);
    &:hover {
        background-color: var(--button-fill-blue, #001a52);
        color: var(--button-text-white, #fff);
    }
}

.button:hover {
    cursor: pointer;
}

// HEADINGS

.title-1 {
    font-size: 47.78px;
    font-style: normal;
    font-weight: 700;
    line-height: 52.558px; /* 110% */
    letter-spacing: -0.5px;
    margin: 0;
}

.title-2 {
    font-style: normal;
    font-weight: 400;
    line-height: 1.4;
    margin: 0;
    font-size: 27.648px;
    font-weight: 700;
    line-height: 30.415px; /* 110.008% */
    letter-spacing: -0.5px;
}

.title-3 {
    font-size: 19.2px;
    font-style: normal;
    font-weight: 700;
    line-height: 21.12px; /* 110% */
    letter-spacing: -0.5px;
    margin: 0;
}

.title-4 {
    font-size: 19.2px;
    font-style: normal;
    font-weight: 700;
    line-height: 21.12px; /* 110% */
    letter-spacing: -0.5px;
    margin: 0;
}

.title-1-desktop {
    font-family: Inter;
    font-size: 96px;
    font-style: normal;
    font-weight: 700;
    line-height: 105.6px; /* 110% */
}

.title-2-desktop {
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 52.8px; /* 110% */
}

//PARAGRAPHS
.body {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22.4px; /* 140% */
    margin: 0;
}

.body-small {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 19.6px; /* 140% */
    margin: 0;
}

.body-desktop {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 25.2px; /* 140% */
}
